name: TTJJ nofity

on:
  workflow_dispatch:
  schedule:
    - cron: '30 07 * * 1-5'

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: npm run start
    env:
      FEISHU: ${{ secrets.FEISHU }}
      DINGDING: ${{ secrets.DINGDING }}
      CODE: ${{ secrets.CODE }}
